<html lang='en'>
<head>
  <title>Fruit Classifier</title>
  <style type="text/css">
    .choose-file-button{
      cursor:pointer;
      border-radius:50px;
    }
    .analyze-file-button{
      cursor:pointer;
      border-radius:50px;
    }
    .choose-file-button:hover{
      cursor:pointer;
      background:#7b68ee;
      color:#ffffff;
    }
    .analyze-button:hover{
      cursor:pointer;
      background:#ffffff;
      color:#7b68ee;
    }
    .title{
      background:#7b68ee;
      border-radius:100px;
    }
  </style>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Fruit Classifier</div>
    <p>
      可以使用<strong>金桔、柑、柳丁、葡萄柚、檸檬</strong>以上五種圖片進行分析   
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
